name: Create a PR from main to live on merge to main
on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main' && github.repository == 'microsoftdocs/openapi-docs-pr'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: gh pr create -B live -t "Merge main to live" -b "This PR was created automatically by a GitHub Action."
        env:
          GH_TOKEN: ${{ secrets.PR_SYNC_TOKEN }}