name: Lint and spell-check

on:
  pull_request:
    branches: [ main, live ]
  push:
    branches: [ main, live ]

jobs:
  lint:
    name: Lint and spell-check
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Lint
      uses: DavidAnson/markdownlint-cli2-action@v9
      with:
        globs: '**/*.md'
    - name: Spell check
      uses: streetsidesoftware/cspell-action@v2
      with:
        files: '**/*.{md,yml}'
